---
layout: ""
page_title: "Provider: TrueNAS"
description: |-
  The TrueNAS provider provides resources to interact with a TrueNAS APIs.
---

# TrueNAS Provider

The TrueNAS provider provides resources to interact with a TrueNAS APIs.

## Example Usage

{{tffile "examples/provider/main.tf"}}

{{ .SchemaMarkdown | trimspace }}